
    .edits{
        background-color: blueviolet;
    }
    .create{
        background-color: yellowgreen;
        color:brown
        
    }
    .edit{
        background-color:yellow
        ;
        color:tan
    }