*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
 
.flex-container{
    /* height: 500px; */
    display: flex;
    /* flex-direction: column; */
    background-color: #f4f4ff;
    /* justify-content: space-between;
    align-items: end; */
    /* flex-wrap: wrap; */
}

.flex-container::after{
    content:'';
    clear:both;
    display: block;
}

.item{
    flex-basis: 100px;
    
    width: 100px;
    height: 100ox;
    background: #254de4;
    color: #fff;
    margin: 10px;
    /* float: left; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-of-type(1){
    flex-grow: 3;
    flex-basis: 200ox;
}
.item:nth-of-type(2){
    flex-grow: 1;
}   
.item:nth-of-type(3){
    flex-grow: 2;
}   