
    .improv{
        background-color: red;
        color:aliceblue
    }
    .clock{
        background-color: blanchedalmond;
        color:orange
    }
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}