.form-group{
    position: relative ;
    margin-bottom: 30px;
}
.form-group input {
    width:100%; padding: 10px 5px;
    border: none; border-radius: 5px;
    background-color: #485460;
    border-bottom: ipx solid #2ecc71;
    color: #ccc;
    font-size: 16px; outline: none;
}